
.media-wrapper {
    width: 350px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    text-overflow: ellipsis;
    float: left;
    margin: 20px 20px 0 0;
    cursor: pointer;
}

.media-wrapper h3 {
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
}

.media-wrapper .panel-body {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

.media-wrapper:hover .panel-body {
    background: rgb(39, 128, 227);
}

.inner-addon_wrapper {
    position: relative;
}

.inner-addon_wrapper input {
    padding: 0 35px;
}

.left-inner-addon {
    position: absolute;
    padding: 14px 12px;
    pointer-events: none;
}

.right-inner-addon {
    right: 0;
    position: absolute;
    padding: 14px 6px;
    margin-right: 18px;
}

.right-inner-addon.clickable:hover {
    color: rgb(39, 128, 227);
    cursor: pointer;
}

.tab-close-button {
    float: right;
    margin: 0 0 0 15px;
    color: black;
}

.tab-close-button:hover {
    color: rgb(39, 128, 227);
    cursor: pointer;
}
