button.close {
    color: red;
    float: right;
}

.media-wrapper {
    width: 350px;
    /*height: 200px;*/
    /*min-height: 200px;*/
    /*max-height: 200px;*/
    float: left;
    margin: 20px 20px 0 0;
    cursor: pointer;
}

.media-wrapper .panel-body {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 35px;
}

.left-inner-addon span {
    position: absolute;
    padding: 12px 12px;
    pointer-events: none;
}