<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="MyApp" packages="">
    <appenders>
        <File name="FILE" fileName="log.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%-5level] [%t] %logger{36} - %msg%n</pattern>
            </PatternLayout>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] [%t] %logger{36} - %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="DEBUG">
            <!-- <appender-ref ref="file"/> -->
            <appender-ref ref="STDOUT"/>
        </root>
    </loggers>
</configuration>