.root {
    -fx-font-family: "Tahoma";
}

.player_controls {
    -fx-padding: 2 20 0 20;
    -fx-background-color: rgb(40, 40, 40);
    -fx-hgap: 3;
}

.player_controls Text {
    -fx-fill: rgb(155, 155, 155);
}

.player_controls .slider .track {
    -fx-background-color: rgb(180, 180, 180);
}

.player_controls #play {
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-background-color: transparent;
    -fx-background-position: 0 5;
    -fx-background-image: url('icons/pause.png');
    -fx-background-repeat: no-repeat;
}

.player_controls #play:hover {
    -fx-background-image: url('icons/pause_hover.png');
}

.player_controls #play:selected {
    -fx-background-image: url('icons/play.png');
}

.player_controls #play:selected:hover {
    -fx-background-image: url('icons/play_hover.png');
}

.player_controls #mute {
    -fx-min-width: 18px;
    -fx-min-height: 15px;
    -fx-background-color: transparent;
    -fx-background-position: 0 5;
    -fx-background-image: url('icons/volume.png');
    -fx-background-repeat: no-repeat;
}

.player_controls #mute:hover {
    -fx-background-image: url('icons/volume_hover.png');
}

.player_controls #mute:selected {
    -fx-background-image: url('icons/volume_mute.png');
}

.player_controls #mute:selected:hover {
    -fx-background-image: url('icons/volume_mute_hover.png');
}

.player_controls #fitScreen {
    -fx-min-width: 20px;
    -fx-min-height: 15px;
    -fx-background-color: transparent;
    -fx-background-position: 0 5;
    -fx-background-image: url('icons/fit.png');
    -fx-background-repeat: no-repeat;
}

.player_controls #fitScreen:hover {
    -fx-background-image: url('icons/fit_hover.png');
}

.player_controls #fitScreen:selected {
    -fx-background-image: url('icons/shrink.png');
}

.player_controls #fitScreen:selected:hover {
    -fx-background-image: url('icons/shrink_hover.png');
}

/* Quick navi */

.qn_video_container {
    -fx-vgap: 20px;
    -fx-hgap: 24px;
    -fx-padding: 15px;
}

.qn_video {
    -fx-pref-width: 336px;
    -fx-pref-height: 260px;
    -fx-background-color: rgb(250, 250, 250);
    -fx-border-color: #d6cfcf;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.qn_video:hover, .qn_video.selected {
    -fx-background-color: rgb(240, 240, 240);
}

.qn_video .title {
    -fx-max-width: 399px;
    -fx-min-width: 399px;
    -fx-pref-width: 399px;
    -fx-padding: 6px 6px 6px 10px;
    -fx-background-color: #444;
}

.qn_video .title .text {
    -fx-max-width: 370px;
    -fx-pref-width: 370px;
    -fx-min-width: 370px;
    -fx-text-fill: rgb(250, 250, 250);
    -fx-font-size: 15px;
}

.qn_video .remove {
    -fx-graphic: url('icons/trash.png');
}

.qn_video .remove:hover {
    -fx-graphic: url('icons/trash_hover.png');
}

.qn_video .search {
    -fx-graphic: url('icons/search.png');
}

.qn_video .search:hover {
    -fx-graphic: url('icons/search_hover.png');
}

.qn_video .arrow_left {
    -fx-graphic: url('icons/arrow-left.png');
}

.qn_video .arrow_left:hover {
    -fx-graphic: url('icons/arrow-left_hover.png');
}

.qn_video .arrow_right {
    -fx-graphic: url('icons/arrow-right.png');
}

.qn_video .arrow_right:hover {
    -fx-graphic: url('icons/arrow-right_hover.png');
}

.qn_video .info {
    -fx-graphic: url('icons/info.png');
}

.qn_video .info:hover {
    -fx-graphic: url('icons/info.png');
}

/*
.my-button {
    -fx-graphic: url("abc.png");
}

.my-button:hover {
    -fx-graphic: url("xyz.png");
}
*/

.qn_video .action_button {
    -fx-background-color: #444;
    -fx-pref-height: 35px;
    -fx-pref-width: 70px;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

.qn_video .action_button:hover {
    -fx-background-color: #999;
}

.qn_video .name_label {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.qn_video .bottom_info {
    -fx-padding: 0 10px 5px 10px;
    -fx-text-fill: rgb(150, 150, 150);
}

.tabs {
    -fx-background-color: rgb(250, 250, 250);
}

.refresh_button {
    -fx-min-width: 15px;
    -fx-min-height: 16px;
    -fx-background-image: url('icons/refresh.png');
}

.refresh_button:hover {
    -fx-background-image: url('icons/refresh_hover.png');
}

/* TOP MENU */

.top_menu {
    -fx-pref-width: 100%;
    -fx-padding: 10px;
    -fx-pref-height: 60px;
    -fx-background-color: rgb(250, 250, 250);
    -fx-hgap: 100px;
}

.top_menu .search_field {
    -fx-pref-width: 250px;
    -fx-pref-height: 35px;
    -fx-font-size: 15px;
    -fx-prompt-text-fill: rgb(100, 100, 100);
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-text-box-border: rgb(230, 230, 230);
    -fx-focus-color: rgb(230, 230, 230);
    -fx-faint-focus-color: transparent;
}

.top_menu .folder_selector {
    -fx-pref-height: 35px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 0 10px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-border-color: rgb(255, 255, 255);
}

.top_menu .folder_selector:hover, .top_menu .folder_selector.selected {
    -fx-border-color: rgb(247, 232, 91);
}

/* Menu bar */

.menu:hover, .menu:showing {
    -fx-background-color: #444;
}

.menu:hover .label, .menu:showing .label {
    -fx-text-fill: rgb(250, 250, 250);
}

.menu .menu-item .label {
    -fx-text-fill: rgb(30, 30, 30);
}

.menu .menu-item:hover, .menu .menu-item:showing, .menu .menu-item:focused {
    -fx-background-color: #444;
}

.menu .menu-item:hover .label, .menu .menu-item:showing .label, .menu .menu-item:focused .label {
    -fx-text-fill: rgb(250, 250, 250);
}
