.root {
    -fx-font-family: "Tahoma";
}

.player_controls .slider .track {
    -fx-background-color: rgb(180, 180, 180);
}

.player_controls #play {
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-background-color: transparent;
    -fx-background-position: 0 5;
    -fx-background-image: url('icons/pause.png');
    -fx-background-repeat: no-repeat;
}

.player_controls #play:hover {
    -fx-background-image: url('icons/pause_hover.png');
}

.player_controls #play:selected {
    -fx-background-image: url('icons/play.png');
}

.player_controls #play:selected:hover {
    -fx-background-image: url('icons/play_hover.png');
}

.player_controls #mute {
    -fx-min-width: 18px;
    -fx-min-height: 15px;
    -fx-background-color: transparent;
    -fx-background-position: 0 5;
    -fx-background-image: url('icons/volume.png');
    -fx-background-repeat: no-repeat;
}

.player_controls #mute:hover {
    -fx-background-image: url('icons/volume_hover.png');
}

.player_controls #mute:selected {
    -fx-background-image: url('icons/volume_mute.png');
}

.player_controls #mute:selected:hover {
    -fx-background-image: url('icons/volume_mute_hover.png');
}

.player_controls #fitScreen {
    -fx-min-width: 20px;
    -fx-min-height: 15px;
    -fx-background-color: transparent;
    -fx-background-position: 0 5;
    -fx-background-image: url('icons/fit.png');
    -fx-background-repeat: no-repeat;
}

.player_controls #fitScreen:hover {
    -fx-background-image: url('icons/fit_hover.png');
}

.player_controls #fitScreen:selected {
    -fx-background-image: url('icons/shrink.png');
}

.player_controls #fitScreen:selected:hover {
    -fx-background-image: url('icons/shrink_hover.png');
}

/* Quick navi */

.qn_video {
    -fx-pref-width: 400px;
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-pref-height: 350px;
    -fx-background-color: rgb(227, 227, 227);
    -fx-border-color: #444;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.qn_video:hover {
    -fx-background-color: rgb(230, 230, 230);
}

.qn_video .title {
    -fx-max-width: 399px;
    -fx-min-width: 399px;
    -fx-pref-width: 399px;
    -fx-padding: 6px 6px 6px 10px;
    -fx-background-color: #444;
}

.qn_video .title .text {
    -fx-max-width: 370px;
    -fx-pref-width: 370px;
    -fx-min-width: 370px;
    -fx-text-fill: rgb(250, 250, 250);
    -fx-font-size: 15px;
}

.qn_video .title .remove {
    -fx-min-height: 22px;
    -fx-min-width: 15px;
    -fx-max-width: 15px;
    -fx-background-image: url('icons/trash.png');
}

.qn_video .title .remove:hover {
    -fx-background-image: url('icons/trash_hover.png');
}

.qn_video .status_bar {
    -fx-pref-width: 100%;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-min-height: 40px;
    -fx-padding: 6px 6px 6px 10px;
    -fx-background-color: rgb(250, 250, 250);
}

.qn_video .status_bar .time {
    -fx-text-fill: #444;
}

.qn_video .action_button {
    -fx-background-color: #444;
    -fx-pref-height: 35px;
    -fx-pref-width: 70px;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

.qn_video .action_button:hover {
    -fx-background-color: #999;
}

.tabs {
    -fx-background-color: rgb(250, 250, 250);
}

.refresh_button {
    -fx-min-width: 15px;
    -fx-min-height: 16px;
    -fx-background-image: url('icons/refresh.png');
}

.refresh_button:hover {
    -fx-background-image: url('icons/refresh_hover.png');
}

/* Side menu */

.side_menu {
    -fx-background-color: rgb(250, 250, 250);
}

.side_menu .menu_button {
    -fx-padding: 5px 0 5px 20px;
    -fx-min-width: 120px;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(100, 100, 100);
    -fx-font-size: 14px;
    -fx-background-radius: 0;
    -fx-text-alignment: left;
}

.side_menu .menu_button:hover {
    -fx-background-color: #444;
    -fx-text-fill: rgb(250, 250, 250);
}

.side_menu .menu_button:selected {
    -fx-background-color: #364d76;
    -fx-text-fill: rgb(216, 216, 216);
}

.side_menu .search_input:focused {
    -fx-background-insets: 0;
}

/* Menu bar */

.menu:hover, .menu:showing {
    -fx-background-color: #444;
}

.menu:hover .label, .menu:showing .label {
    -fx-text-fill: rgb(250, 250, 250);
}

.menu .menu-item .label {
    -fx-text-fill: rgb(30, 30, 30);
}

.menu .menu-item:hover, .menu .menu-item:showing, .menu .menu-item:focused {
    -fx-background-color: #444;
}

.menu .menu-item:hover .label, .menu .menu-item:showing .label, .menu .menu-item:focused .label {
    -fx-text-fill: rgb(250, 250, 250);
}
